#info{
    height: auto;
    display: flex;
}

#info h2{
    font-weight: bold;
}

#info .right-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info .right, #info .left {
    width: 50%;
}

#info .right .right-ctn{
    background-color: rgb(0,0,0,0.0);
    display: flex;
    justify-content: center;
    align-items: start;
}

#info .right-ctn img{
    width: 200px;
    height: 200px;

}

    #info > div.right > div > img:nth-child(1) {
        padding: 10px;
        background-color: #285430;
        margin: 1rem auto;
        border-radius: 50%;
    }

    #info > div.right > div > img:nth-child(2) {
        padding: 10px;
        background-color: #285430;
        margin: 1rem auto;
        border-radius: 50%;
    }

    #info > div.right > div > img:nth-child(3) {
        padding: 10px;
        background-color: #285430;
        margin: 1rem auto;
        border-radius: 50%;
    }

    #info > div.left{
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
    }

    #info > div.left h2{
        font-size: 64px;
    }

    #info > div.left > ul{
        margin: 0;
        padding: 0;
        color: white;
        font-size: 24px;
        list-style: none;
        margin: 5rem 2rem 5rem 0rem;
    }

        #info > div.left > ul > li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;
            padding-bottom: 1rem;
            border-bottom: 3px solid black;
        }

        #info > div.left > ul > li img{
            height: 100px;
        }

        #info .left h2{
            text-align: left;
        }
