@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles{
    <link href="~/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/info.css" rel="stylesheet" type="text/css"/>
}

<div class="bg-design">

</div>

<section id="hero">
    <div class="left">
        <img src="~/img/hero-transparent.png" />
    </div>
    <div class="right">
        <div class="right-ctn">
            <h1>Custom Shopify <br /> Developer</h1>
            <button class="ctm-btn">
                <img src="~/img/Instagram_Glyph_Black.png"/>
             </button>
            <button class="ctm-btn">
                <img src="~/img/phone-solid (1).png"/>
            </button>
            <div class="logo-ctn">
                <img id="shopify-logo" src="~/img/shopify_logo_black.png"/>
            </div>

        </div>
    </div>
</section>

<section id="info">
    <div class="left">
        <h2>Ensure the best quality designs</h2>
        <ul>
            <li>
                <h3>Reliable <br /> Communication</h3> 
                <img src="~/img/clock-solid.png"/>                            
            </li>
            <li>
                <h3>Efficient <br /> Practices</h3>  
                <img src="~/img/thumbs-up-solid.png"/>                             
            </li>
            <li>
                <h3>Satisfying <br /> Results</h3> 
                <img src="~/img/heart-solid.png"/>                    
            </li>
        </ul>
    </div>
    <div class="right">
        <div class="right-ctn">
            <img src="~/img/icons8-html-5-480.png"/>
            <img src="~/img/icons8-css3-480.png"/>
            <img src="~/img/icons8-javascript-480.png"/>
        </div>
    </div>
</section>
